<!-- <div id="animateCont" ng-controller="homesolutionController">

  <div id="webpagediv0" class="webpagedivseg" style="display:block;">
       <img src="app/template/homesolution/images/bg.png" style="position: relative; top: 0; left: 0;" />
    </div>
        
        <div id="webpagediv1" class="webpagedivseg">

          <div class="attlogo1" ><img class="effect att-globe" src="app/template/homesolution/images/att_logo.png"/></div>
        </div>
        
        <div id="webpagediv2" class="webpagedivseg">

           <div class="" ><img class="attlogo animate" src="app/template/homesolution/images/att_logo.png"/></div>
          <div class="frame82 dtv_logo" ><img class="" src="app/template/homesolution/images/dtv_logo1.png"/></div>
          
           <div class="frame82 orange" ><img class="effect" src="app/template/homesolution/images/orangecircle1.png"/></div>
           <div class="frame82 people1" ><img class="effect1" src="app/template/homesolution/images/people_11.png"/></div> 
        </div>
         <div id="webpagediv3" class="webpagedivseg">
         <div class="" ><img class="attlogo animate" src="app/template/homesolution/images/att_logo.png"/></div>
          <div class="frame82 dtv_logo" ><img class="" src="app/template/homesolution/images/dtv_logo1.png"/></div>
           <div class="frame82 orange" ><img class="effect" src="app/template/homesolution/images/orangecircle1.png"/></div>
           <div class="frame82 people2" ><img class="effect" src="app/template/homesolution/images/people_12.png"/></div>
           <div class="frame82 green" ><img class="" src="app/template/homesolution/images/green2.png"/></div>
           <div class="frame82 people1" ><img class="effect1" src="app/template/homesolution/images/people_11.png"/></div> 
           <div class="frame82 pink" ><img class="effect purpleImg" src="app/template/homesolution/images/purple_circle.png"/></div>
          <div style="font-size:35pt;  position:absolute; top: 150px; left: 312px;" class="hd2 orange"> <span class="hitxt" style="color: #fff; font-weight:bold;padding-right: 17px;">Hi,</span> <h4 id="userNameFirst1" class="effect userNameFirst"></h4></div>
           
         </div>
        
       
         <div id="webpagediv4" class="webpagedivseg">
            <div class="" ><img class="attlogo animate" src="app/template/homesolution/images/att_logo.png"/></div>
          <div class="frame82 dtv_logo" ><img class="" src="app/template/homesolution/images/dtv_logo1.png"/></div>
           <div class="frame82 orange" ><img class="effect" src="app/template/homesolution/images/orangecircle1.png"/></div>
           <div class="frame82 people12" ><img class="effect" src="app/template/homesolution/images/people_12.png"/></div>
           <div class="frame82 green" ><img class="" src="app/template/homesolution/images/green2.png"/></div>
           <div class="frame82 people1" ><img class="effect1" src="app/template/homesolution/images/people_11.png"/></div> 
           <div class="frame82 pink" ><img class="effect purpleImg" src="app/template/homesolution/images/purple_circle.png"/></div>
            <div style="font-size:35pt;  position:absolute; top: 150px; left: 312px;" class="hd2 orange"> <span class="hitxt" style="color: #fff; font-weight:bold;padding-right: 17px;">Hi,</span> <h4 id="userNameFirst1" class="effect userNameFirst"></h4></div>
        </div>
        <div id="webpagediv5" class="webpagedivseg ">
                  <div class="" ><img class="attlogo animate" src="app/template/homesolution/images/att_logo.png"/></div>
          <div class="frame82 dtv_logo" ><img class="" src="app/template/homesolution/images/dtv_logo1.png"/></div>
          <div class="frame82 orderTxt" >Your Order</div>
          <div class="frame82 tv" ><img class="" src="app/template/homesolution/images/tv.png"/></div>
          <div class="frame82 plus" >+</div>
          <div class="frame82 internet" ><img class="" src="app/template/homesolution/images/internet.png"/></div>
          
        </div>
        <div id="webpagediv6" class="webpagedivseg ">
                  <div class="" ><img class="attlogo animate" src="app/template/homesolution/images/att_logo.png"/></div>
          <div class="frame82 dtv_logo" ><img class="" src="app/template/homesolution/images/dtv_logo1.png"/></div>
          <div class="frame82 orderTxt" >Your Order</div>
          <div class="frame82 tv" ><img class="" src="app/template/homesolution/images/tv.png"/></div>
          <div class="frame82 plus" >+</div>
          <div class="frame82 internet" ><img class="" src="app/template/homesolution/images/internet.png"/></div>
           <div class="frame82 package" ><img class="" src="app/template/homesolution/images/package.png"/></div>
        </div>
         <div id="webpagediv7" class="webpagedivseg ">
                  <div class="" ><img class="attlogo animate" src="app/template/homesolution/images/att_logo.png"/></div>
          <div class="frame82 dtv_logo" ><img class="" src="app/template/homesolution/images/dtv_logo1.png"/></div>
          <div class="frame82 orderTxt" >Your Order</div>
          <div class="frame82 tv" ><img class="" src="app/template/homesolution/images/tv.png"/></div>
          <div class="frame82 plus" >+</div>
          <div class="frame82 internet" ><img class="" src="app/template/homesolution/images/internet.png"/></div>
           <div class="frame82 package" ><img class="" src="app/template/homesolution/images/package.png"/></div>
        </div>
        <div id="webpagediv8" class="webpagedivseg ">
                  <div class="" ><img class="attlogo animate" src="app/template/homesolution/images/att_logo.png"/></div>
          <div class="frame82 dtv_logo" ><img class="" src="app/template/homesolution/images/dtv_logo1.png"/></div>
          <div class="frame82 orderText" >Your Scheduled Installation</div>
          <div class="frame82 calendar" ><img class="" src="app/template/homesolution/images/calendar.png"/></div>
           <div class="frame82 green21" ><img class="" src="app/template/homesolution/images/green2.png"/></div>
           <div class="hd2"><div class="text">    <span id="scheduled" class="scheduledDate schDate"></span>
                                                                      <span id="scheduledTime" class="scheduledTime schTime"></span>
                                                                     </div>
              </div> 
        </div>
        <div id="webpagediv9" class="webpagedivseg">
         <div class="" ><img class="attlogo animate" src="app/template/homesolution/images/att_logo.png"/></div>
          <div class="frame82 dtv_logo" ><img class="" src="app/template/homesolution/images/dtv_logo1.png"/></div>
          <div class="frame82 orderText" >Your Scheduled Installation</div>
          <div class="frame82 calendar" ><img class="" src="app/template/homesolution/images/calendar.png"/></div>
           <div class="frame82 green21" ><img class="" src="app/template/homesolution/images/green2.png"/></div>
           <div class="hd2"><div class="text">    <span id="scheduled1" class="scheduledDate schDate"></span>
                                                                      <span id="scheduledTime1" class="scheduledTime schTime"></span>
                                                                     </div>
              </div>        
        </div>
         
        
       <div id="webpagediv10" class="webpagedivseg">
           <div class="" ><img class="attlogo animate" src="app/template/homesolution/images/att_logo.png"/></div>
          <div class="frame82 dtv_logo" ><img class="" src="app/template/homesolution/images/dtv_logo1.png"/></div>
           <div class="frame82 orderTxt txt" >Installation Day Checklist</div>
            
            <div class="frame82 green31" ><img class="" src="app/template/homesolution/images/green2.png"/></div>
            <div class="frame82 orange31" ><img class="" src="app/template/homesolution/images/orangecircle1.png"/></div>
            <div class="frame82 people_13" ><img class="" src="app/template/homesolution/images/people_13.png"/></div>
            <div class="frame82 chklist chklist1">A member of your household over 18 years must be present.</div>
            <div class="frame82 chklist chklist2">Plan on installation taking an average of four hours to complete.</div>
            <div class="frame82 chklist chklist3">You are responsible for moving furniture blocking telephone and computer connections prior to the tech's arrival.</div>
            <div class="frame82 chklist chklist4">Wait until after installation before cancelling your old services.</div>
        </div>
         <div id="webpagediv11" class="webpagedivseg">
           <div class="" ><img class="attlogo animate" src="app/template/homesolution/images/att_logo.png"/></div>
          <div class="frame82 dtv_logo" ><img class="" src="app/template/homesolution/images/dtv_logo1.png"/></div>
           <div class="frame82 orderTxt txt" >Installation Day Checklist</div>
            
            <div class="frame82 green31" ><img class="" src="app/template/homesolution/images/green2.png"/></div>
            <div class="frame82 orange31" ><img class="" src="app/template/homesolution/images/orangecircle1.png"/></div>
            <div class="frame82 people_13" ><img class="" src="app/template/homesolution/images/people_13.png"/></div>
            <div class="frame82 chklist chklist1">A member of your household over 18 years must be present.</div>
            <div class="frame82 chklist chklist2">Plan on installation taking an average of four hours to complete.</div>
            <div class="frame82 chklist chklist3">You are responsible for moving furniture blocking telephone and computer connections prior to the tech's arrival.</div>
            <div class="frame82 chklist chklist4">Wait until after installation before cancelling your old services.</div>
        </div>
 
  <div id="webpagediv12" class="webpagedivseg">
  <div class="" ><img class="attlogo animate" src="app/template/homesolution/images/att_logo.png"/></div>
          <div class="frame82 dtv_logo" ><img class="" src="app/template/homesolution/images/dtv_logo1.png"/></div>
           <div class="frame82 orderTxt txt" >Thanks for choosing AT&T</div>
           <div class="frame82 green41" ><img class="" src="app/template/homesolution/images/green2.png"/></div>
            <div class="frame82 orange41" ><img class="" src="app/template/homesolution/images/orangecircle1.png"/></div>
            <div class="frame82 people_14" ><img class="" src="app/template/homesolution/images/people_14.png"/></div>
             <div class="frame82 buttons btn1" ><a href="https://www.att.com/eos/unauth/eosLogin?productType=uverse" target="_blank">View my schedule</a></div>
               <div class="frame82 buttons btn2" ><a href="https://att.com/uverseorderstatus" target="_blank">View Order Status</a></div>
               <div class="frame82 buttons btn3" ><a href="https://www.att.com/u-verse-welcome/order-installation/status.html" target="_blank">Visit Welcome Center</a></div>
 </div>

 <div id="webpagediv13" class="webpagedivseg"></div>
      

        
     
           
 </div>
 --><div></div>