<div id="animateCont" ng-controller="animationController">
  <div id="webpagediv0" class="webpagedivseg" style="display:block;">
       <img src="app/template/orderstatus/images/pop0.png" style="position: relative; top: 0; left: 0;width:100%;" />
      <!--  <img src="app/template/orderstatus/images/ATTlogo.gif" width="400" height="300" alt="AT&amp;T Logo" style="    width: 32%; height: 42%; margin: auto; position: absolute; top: 30%;left: 34%;" /> -->
    </div>
        
        <div id="webpagediv1" class="webpagedivseg">

          <!-- <canvas id="attlogo" width="100" height="100"></canvas>  -->
          <div class="attlogo" ><img class="effect" src="app/template/orderstatus/images/blank-att-globe.png"/></div>
        </div>
        <div id="webpagediv2" class="webpagedivseg">

           <div class="attlogo" ><img class="effect" src="app/template/orderstatus/images/att-globe.png"/></div>
        </div>
        <div id="webpagediv3" class="webpagedivseg">

           <div class="" ><img class="attlogo animate" src="app/template/orderstatus/images/att-globe.png"/></div>
          
           <div class="frame82 people1" ><img class="effect" src="app/template/orderstatus/images/people_1.png"/></div>
           <div class="frame82 orange" ><img class="effect" src="app/template/orderstatus/images/orangeCircle.png"/></div>
           
           <div class="frame82 people2" ><img class="effect" src="app/template/orderstatus/images/people2.png"/></div>
           <div class="frame82 green" ><img class="effect" src="app/template/orderstatus/images/lgGreen.png"/></div>
            <div class="frame82 pink" ><img class="effect" src="app/template/orderstatus/images/pinkCircle.png"/></div>
        </div>
        <div id="webpagediv4" class="webpagedivseg">
                   <div class="frame82 att_logo" ><img class="animate" src="app/template/orderstatus/images/att_logo.png"/></div>
        
<div class="frame82 people1" ><img class="" src="app/template/orderstatus/images/people_1.png"/></div>
           <div class="frame82 orange" ><img class="" src="app/template/orderstatus/images/orangeCircle.png"/></div>
           
           <div class="frame82 people2" ><img class="" src="app/template/orderstatus/images/people2.png"/></div>
           <div class="frame82 green" ><img class="" src="app/template/orderstatus/images/lgGreen.png"/></div>
            <div class="frame82 pink" ><img class="" src="app/template/orderstatus/images/pinkCircle.png"/></div>
            <div  class="hd2 orange un1"> <span style="color: #fff;font-weight:bold; padding-right: 17px;">Hi,</span> <h4 id="userNameFirst" class="effect userNameFirst"></h4></div>
        </div>
        <div id="webpagediv5" class="webpagedivseg">
                   <div class="frame82 att_logo" ><img class="" src="app/template/orderstatus/images/att_logo.png"/></div>
        
<div class="frame82 people3" ></div>
<div class="frame82 people4" ></div>
           <div class="frame82 orange" ><img class="orange1" src="app/template/orderstatus/images/orangeCircle.png"/></div>
           
           <div class="frame82 people2-1" ></div>
           <div class="" ><img class="green1" src="app/template/orderstatus/images/lgGreen.png"/></div>
            <div class="" ><img class="pink1" src="app/template/orderstatus/images/pinkCircle.png"/></div>
            <div  class="hd2 orange un2"> <span class="hitxt" style="color: #fff; font-weight:bold;padding-right: 17px;">Hi,</span> <h4 id="userNameFirst1" class="effect userNameFirst"></h4></div>
        </div>
         <div id="webpagediv6" class="webpagedivseg">
                   <div class="frame82 att_logo" ><img class="" src="app/template/orderstatus/images/att_logo.png"/></div>
        

<div class="frame82 people4" ></div>
           <div class="frame82 orange" ><img class="orange1" src="app/template/orderstatus/images/orangeCircle.png"/></div>
           
           <div class="frame82 people2-1" ></div>
           <div class="" ><img class="green1" src="app/template/orderstatus/images/lgGreen.png"/></div>
            <div class="" ><img class="pink1" src="app/template/orderstatus/images/pinkCircle.png"/></div>
            <div style="font-size:35pt;  position:absolute; top: 150px; left: 312px;" class="hd2 orange"> <span class="hitxt" style="color: #fff; font-weight:bold;padding-right: 17px;">Hi,</span> <h4 id="userNameFirst1" class="effect userNameFirst"></h4></div>
        </div>
        <div id="webpagediv7" class="webpagedivseg ">
                  <div class="circle hd2 white "><div class="text"><span class="offset product" id="product" ></span><br>
                                <span style="font-size: 16px;" id="memory" class="memory"></span></div></div>
                             
                  <div class="devicePhoto"><img id="productImg" class="productImg" src="" alt="device photo"></div>
        </div>
        <div id="webpagediv8" class="webpagedivseg ">
                  <div class="circle hd2 white "><div class="text"><span class="offset product" id="product1" ></span><br>
                                <span style="font-size: 16px;" id="memory1" class="memory"></span></div></div>
                             
                  <div class="devicePhoto"><img id="productImg1" class="productImg" src="" alt="device photo"></div>
        </div>
        <div id="webpagediv9" class="webpagedivseg">
        <div class="" ><img class="green1" src="app/template/orderstatus/images/lgGreen.png"/></div>
              <div class="hd2"><div class="text"><span class="shippingTxt">Shipped on</span><br>
                                                                     <span id="shippedon" class="shippedon"></span>
                                                                     </div>
              </div>       
        </div>
         <div id="webpagediv10" class="webpagedivseg">
         <div class="hdrText">Check delivery status with our tracking tool</div>
        <div class="" ><img class="green1" src="app/template/orderstatus/images/lgGreen.png"/></div>
              <div class="hd2"><div class="text"><span class="shippingTxt" >Shipped on</span><br>
                                                                     <span id="shippedon" class="shippedon"></span>
                                                                     </div>
              </div>  
              <div class="frame82 orange1"><img src="app/template/orderstatus/images/orangecircle1.png" alt="orange"></div>  
               <div class="frame82 greenbase"><img src="app/template/orderstatus/images/greenbase.png" alt="greenbase"></div> 
               <div class="frame82 tablet"><img src="app/template/orderstatus/images/tablet.png" alt="tablet"></div>      
        </div>
        <div id="webpagediv11" class="webpagedivseg">
         <div class="hdrText">Check delivery status with our tracking tool <div class="linkTxt">att.com/checkmyorder</div></div>
       
              <div class="hd2"><div class="text animate"><span class="shippingTxt" >Shipped on</span><br>
                                                                     <span id="shippedon" class="shippedon"></span>
                                                                     </div>
              </div>  
              <div class="frame82 orange1"><img src="app/template/orderstatus/images/orangecircle1.png" alt="orange"></div>  
               <div class="frame82 greenbase"><img src="app/template/orderstatus/images/greenbase.png" alt="greenbase"></div> 
               <div class="frame82 tablet animate"><img src="app/template/orderstatus/images/tablet.png" alt="tablet"></div>      
        </div>
       <div id="webpagediv12" class="webpagedivseg">
         <div class="hdrText">Check delivery status with our tracking tool <div class="linkTxt">att.com/checkmyorder</div></div>
       
              <div class="hd2"><div class="text animate"><span class="shippingTxt" >Shipped on</span><br>
                                                                     <span id="shippedon" class="shippedon"></span>
                                                                     </div>
              </div>  
              <div class="frame82 orange1"><img src="app/template/orderstatus/images/orangecircle1.png" alt="orange"></div>  
               <div class="frame82 greenbase"><img src="app/template/orderstatus/images/greenbase.png" alt="greenbase"></div> 
               <div class="frame82 tablet animate"><img src="app/template/orderstatus/images/tablet.png" alt="tablet"></div>      
        </div>
 <div id="webpagediv13" class="webpagedivseg">
 <div class=""><img  class="green2 animate" src="app/template/orderstatus/images/green2.png" alt="greencircle"></div>
 <div class=""><img  class="blue2 animate" src="app/template/orderstatus/images/bluecircle.png" alt="bluecircle"></div>
  <div class="frame82 orangebase"><img src="app/template/orderstatus/images/orangecircle1.png" alt="orangebase"></div> 
  <div class=""><img  class="phoneapp animate" src="app/template/orderstatus/images/ph_app.png" alt="phoneapp"></div>
 </div>
  <div id="webpagediv14" class="webpagedivseg">
 <div class=""><img  class="green2 animate" src="app/template/orderstatus/images/green2.png" alt="greencircle"></div>
 <div class=""><img  class="blue2 animate" src="app/template/orderstatus/images/bluecircle.png" alt="bluecircle"></div>
  <div class="frame82 orangebase"><img src="app/template/orderstatus/images/orangecircle1.png" alt="orangebase"></div> 
  <div class=""><img  class="phoneapp animate" src="app/template/orderstatus/images/ph_app.png" alt="phoneapp"></div>
 </div>
  <div id="webpagediv15" class="webpagedivseg">
  <div class=""><img class="mobTransfer" src="app/template/orderstatus/images/mobtransfer.png" alt="mobtransfer">
  <h2 class="transferText bulky">AT&T</h2><h3 class="bulky2 transferText">Mobile Transfer</h3>
  <h4 class="purple text3">Transfer contacts, photos &amp;<br>  videos</h4>
  </div>
 <div class=""><img  class="green2 animate" src="app/template/orderstatus/images/green2.png" alt="greencircle"></div>
 <div class=""><img  class="blue2 animate" src="app/template/orderstatus/images/bluecircle.png" alt="bluecircle"></div>
  <div class="frame82 orangebase"><img src="app/template/orderstatus/images/orangecircle1.png" alt="orangebase"></div> 
  <div class=""><img  class="phoneapp animate" src="app/template/orderstatus/images/ph_app.png" alt="phoneapp"></div>
  <div class="tctxt">*Available for certain compatible phones.</div>
 </div>
  <div id="webpagediv16" class="webpagedivseg">
  <div class=""><img class="mobTransfer" src="app/template/orderstatus/images/mobtransfer.png" alt="mobtransfer">
  <h2 class="transferText bulky">AT&T</h2><h3 class="bulky2 transferText">Mobile Transfer</h3>
  <h4 class="purple text3">Transfer contacts, photos &amp;<br>  videos</h4>
  </div>
 <div class=""><img  class="green2 animate" src="app/template/orderstatus/images/green2.png" alt="greencircle"></div>
 <div class=""><img  class="blue2 animate" src="app/template/orderstatus/images/bluecircle.png" alt="bluecircle"></div>
  <div class="frame82 orangebase"><img src="app/template/orderstatus/images/orangecircle1.png" alt="orangebase"></div> 
  <div class=""><img  class="phoneapp animate" src="app/template/orderstatus/images/ph_app1.png" alt="phoneapp"></div>
  <div class="tctxt">*Available for certain compatible phones.</div>
 </div>
     <div id="webpagediv17" class="webpagedivseg">
  <div class=""><img class="mobTransfer" src="app/template/orderstatus/images/mobtransfer.png" alt="mobtransfer">
  <h2 class="transferText bulky">AT&T</h2><h3 class="bulky2 transferText">Mobile Transfer</h3>
  <h4 class="purple text3">Transfer contacts, photos &amp;<br>  videos</h4>
  </div>
 <div class=""><img  class="green2 animate" src="app/template/orderstatus/images/green2.png" alt="greencircle"></div>
 <div class=""><img  class="blue2 animate" src="app/template/orderstatus/images/bluecircle.png" alt="bluecircle"></div>
 <div class=""><img  class="mobile animate" src="app/template/orderstatus/images/mobile.png" alt="mobile"></div>
 <div class="animate contacticon mobicon"></div>
  <div class="animate musicicon mobicon"></div>
   <div class="animate galleryicon mobicon"></div>
    <div class="animate mailicon mobicon"></div>
  <div class="frame82 orangebase"><img src="app/template/orderstatus/images/orangecircle1.png" alt="orangebase"></div> 
  <div class=""><img  class="phoneapp animate" src="app/template/orderstatus/images/ph_app1.png" alt="phoneapp"></div>
  <div class="tctxt">*Available for certain compatible phones.</div>
 </div>   
         <div id="webpagediv18" class="webpagedivseg">
  <div class="mobText"><img class="mobTransfer" src="app/template/orderstatus/images/mobtransfer.png" alt="mobtransfer">
  <h2 class="transferText bulky">AT&T</h2><h3 class="bulky2 transferText">Mobile Transfer</h3>
  <h4 class="purple text3">Transfer contacts, photos &amp;<br>  videos</h4>
  </div>
 <div class=""><img  class="green2 animate" src="app/template/orderstatus/images/green2.png" alt="greencircle"></div>
 <div class=""><img  class="blue2 animate" src="app/template/orderstatus/images/bluecircle.png" alt="bluecircle"></div>
 <div class=""><img  class="mobile animate" src="app/template/orderstatus/images/mobile.png" alt="mobile"></div>

  <div class="frame82 orangebase"><img src="app/template/orderstatus/images/orangecircle1.png" alt="orangebase"></div> 
  <div class=""><img  class="phoneapp animate" src="app/template/orderstatus/images/ph_app1.png" alt="phoneapp"></div>
  <div class="tctxt">*Available for certain compatible phones.</div>
 </div>  
        <div id="webpagediv19" class="webpagedivseg">
               <div class="bulky white"><img class="green2" src="app/template/orderstatus/images/lgGreen.png" alt="greencircle"><div class="activateTxt">Activate<div> your </div> <div>phone</div>
               </div></div>
                <div class="" ><img class="pink" src="app/template/orderstatus/images/pinkCircle.png"/></div>
               <div class=""><img  class="person animate" src="app/template/orderstatus/images/person.png" alt="person"></div>
        </div>
        <div id="webpagediv20" class="webpagedivseg">
               <div class="bulky white"><img class="green2" src="app/template/orderstatus/images/lgGreen.png" alt="greencircle"><div class="activateTxt">Activate<div> your </div> <div>phone</div>
               </div></div>
               <div class="headingContainer hd2"><span class="hd1 orange">Go to:</span><br>
                            <span class="bulky2 orange">att.com/activations</span>
               </div>
                <div class="" ><img class="pink" src="app/template/orderstatus/images/pinkCircle.png"/></div>
               <div class=""><img  class="person animate" src="app/template/orderstatus/images/person.png" alt="person"></div>
               <div class=""><img  class="person1 animate" src="app/template/orderstatus/images/person1.png" alt="person1"></div>
               <div class=""><img  class="purple1 animate" src="app/template/orderstatus/images/purple_circle.png" alt="purple"></div>
               <div class="attscreen animate"><img  class="" src="app/template/orderstatus/images/att_screen_head.png" style="width:100%" alt="attscreenhead"><div class="attscreenBody animate"></div></div>
               <div class=""><img class="arrow animate" src="app/template/orderstatus/images/arrow.png"></div>
        </div>
        <div id="webpagediv21" class="webpagedivseg">
               <div class="bulky white activate_circle"><img class="green2" src="app/template/orderstatus/images/lgGreen.png" alt="greencircle"><div class="activateTxt">Activate<div> your </div> <div>phone</div>
               </div></div>
               <div class="headingContainer hd2"><span class="hd1 orange">Go to:</span><br>
                            <span class="bulky2 orange">att.com/activations</span>
               </div>
                <div class="" ><img class="pink" src="app/template/orderstatus/images/pinkCircle.png"/></div>
               <div class=""><img  class="person animate" src="app/template/orderstatus/images/person.png" alt="person"></div>
               <div class=""><img  class="person1 animate" src="app/template/orderstatus/images/person1.png" alt="person1"></div>
               <div class=""><img  class="purple1 animate" src="app/template/orderstatus/images/purple_circle.png" alt="purple"></div>
               <div class="attscreen animate"><img  class="" src="app/template/orderstatus/images/att_screen_head.png" alt="attscreenhead"><div class="attscreenBody animate"></div></div>
               
        </div>
        <div id="webpagediv22" class="webpagedivseg">
        
               <div class="devicetxt hd2">Device<div>How-To</div><div>Center</div></div>
               <div class="devicetxt1 hd2 purple"><div>Get help with your wireless</div>
               <div>device and its features at</div>
               <div class="bold">att.com/turorial</div>
               </div>
              <div class="animate orange2 hd2"><div>Getting <div>Started</div></div></div>
              <div class=""><img  class="phoneIcon animate" src="app/template/orderstatus/images/phone.png" alt="phone"></div>
               <div class=""><img  class="people5 animate" src="app/template/orderstatus/images/people3.png" alt="people5"></div>
        </div>
        <div id="webpagediv23" class="webpagedivseg">
        
               <div class="devicetxt hd2">Device<div>How-To</div><div>Center</div></div>
               <div class="devicetxt1 hd2 purple"><div>Get help with your wireless</div>
               <div>device and its features at</div>
               <div class="bold">att.com/turorial</div>
               </div>
              <div class="animate orange2 hd2"><div>Getting <div>Started</div></div></div>
              <div class=""><img  class="phoneIcon animate" src="app/template/orderstatus/images/phone.png" alt="phone"></div>
               <div class=""><img  class="people5 animate" src="app/template/orderstatus/images/people3.png" alt="people5"></div>
               <div class=""><img  class="att_screen1 animate" src="app/template/orderstatus/images/att_screen1.png" alt="att_screen1"></div>
        </div>
        
         <div id="webpagediv24" class="webpagedivseg">
        
               <div class="devicetxt hd2">Device<div>How-To</div><div>Center</div></div>
               <div class="devicetxt1 hd2 purple"><div>Get help with your wireless</div>
               <div>device and its features at</div>
               <div class="bold">att.com/turorial</div>
               </div>
              <div class="animate orange2 hd2"><div>Getting <div>Started</div></div></div>
               <div class=""><img  class="people5 animate" src="app/template/orderstatus/images/people3.png" alt="people5"></div>
               <div class=""><img  class="att_screen1 animate" src="app/template/orderstatus/images/att_screen1.png" alt="att_screen1"></div>
        </div>
         <div id="webpagediv25" class="webpagedivseg">
 <div class=""><img class="animate myatt" src="app/template/orderstatus/images/myatt.png" alt="myatt"></div>
 <div class="spanish animate myatttxt hd2">Manage your AT&T services with the myAT&T app* </div>
 <div class="spanish myattlist purple hd2"><ul><li class="item1 animate">View & pay your bill</li>
 <li class="item2 animate">Monitor your usage</li>
 <li class="item3 animate">Change plans & features</li>
 <li class="item4 animate">Get customer support</li>
 </ul></div>
 <div class="spanish animate myatttc hd2">*Compatible device and account registration required. Messaging and data charges may apply for download and usgae.</div>
 </div>
       <div id="webpagediv26" class="webpagedivseg">
            <div class="headingContainer"><span class="bulky2 hd2 orange">Thanks for choosing AT&amp;T</span>
                 <h4 class ="hd2 orange userNameFirst" style="font-size: 35px;" id="userNameLast1">Karthik</h4>
            </div>
                  <div class=""><img  class="people6 animate" src="app/template/orderstatus/images/people6.png" alt="people6"></div>
                   <div class=""><img  class="orange3 animate" src="app/template/orderstatus/images/orangeCircle.png" alt="orange3"></div>
                   <div class=""><img  class="pink3 animate" src="app/template/orderstatus/images/pinkCircle.png" alt="pink3"></div>
         <div class="buttonsBlock">
           <a href="https://www.att.com/eos/unauth/eosLogin" class="btn" target="new">Track my Order</a>
           <a href="https://www.att.com/shop/apps/mobiletransfer.html" target="new" class="btn">Mobile Transfer App</a>
           <a href="https://www.att.com/GoPhoneWeb/goPhoneLanding.do?method=activatePayGo" target="new" class="btn">Activate your Device</a>
            <!-- <a href="http://www.att.com/devicehowto/index.html#!&model=iPhone6sPlus&%20make=Apple" target="new" class="btn">Device How To Center</a> -->
            </div>
        </div>
        
      <div id="webpagediv27" class="webpagedivseg">
            <div class="headingContainer"><span class="bulky2 hd2 orange">Thanks for choosing AT&amp;T</span>
                 <h4 class ="hd2 orange userNameFirst" style="font-size: 35px;" id="userNameLast1">Karthik</h4>
            </div>
                  <div class=""><img  class="people6 animate" src="app/template/orderstatus/images/people6.png" alt="people6"></div>
                   <div class=""><img  class="orange3 animate" src="app/template/orderstatus/images/orangeCircle.png" alt="orange3"></div>
                   <div class=""><img  class="pink3 animate" src="app/template/orderstatus/images/pinkCircle.png" alt="pink3"></div>
         <div class="buttonsBlock">
           <a class="button1 btn" href="https://www.att.com/eos/unauth/eosLogin" target="new">Track my Order</a>
           <a class="button2 btn" href="https://www.att.com/shop/apps/mobiletransfer.html" target="new" >Mobile Transfer App</a>
           <a class="button3 btn" href="https://www.att.com/GoPhoneWeb/goPhoneLanding.do?method=activatePayGo" target="new">Activate your Device</a>
            <!-- <a href="http://www.att.com/devicehowto/index.html#!&model=iPhone6sPlus&%20make=Apple" target="new" class="btn">Device How To Center</a> -->
            </div>
        </div>
        
        </div>  
  