#videodiv{
	 position: absolute;
    top: 91%;
    width: 627px;
}
#videoViewport{
	overflow:hidden;
width: 627px; height: 470px; 
box-shadow:0 0 5px #777777;
margin-left:auto;
margin-right:auto;

display:none;
position:relative;
}
.audioplayer{
	position:relative;
}
#videodiv .audioplayer-time-duration{
	right:8.5em;
}
#videodiv .audioplayer-bar{
	width:50%;
}
#closedCaptionBtn a
{
color: #fff;
    position: absolute;
    right: 7%;
    top: 3%;
    z-index: 1;
    padding:10px;
}
#closedCaption{
	background: #666 none repeat scroll 0 0;
    color: #fff;
    left: 5%;
    position: absolute;
    top: 70%;
    max-width:81%;
    visibility:hidden;
    z-index:999;
}
#closedCaption.shown{
	visibility:visible;
}
#closedCaptionBtn a:hover,#closedCaptionBtn a.active{
	background:#222;
	color:#339aff;
}
#showPlBtn a:hover,#showPlBtn a.active{
	color:#339aff;
	 background-position:11px -29px;
}
#showPlBtn a{
	color: #fff;
    position: absolute;
     border-right: 1px solid rgba(255, 255, 255, 0.1);
    right: 21%;
    top: 3%;
    z-index: 1;
    padding:10px;
    width:18px;
    height:20px;
    background:url('../images/playlist.png') no-repeat scroll 11px 10px transparent;
    display:block;
    text-indent:-999px;
}
#playlist{
	bottom: 11%;
    position: absolute;
    width: 99%;
    background: #666 none repeat scroll 0 0;
    padding:5px;
    z-index:9;
}
#playlist li{
	border: 1px solid #ccc;
    float: left;
    height: 60px;
    list-style: outside none none;
    width: 100px;
    color:#ffffff;
    font-size:12px;
    position:relative;
    margin:0 5px;
}
#playlist ul{
	  left: 0%;
    margin: 0;
    padding: 0;
    position: absolute;
}
#playlist .navBtn{
	 background: #b30a3c none repeat scroll 0 0;
    float: left;
    padding-bottom: 21px;
    padding-top: 21px;
    width: 20px;
}
a.playBtn{
	background: #b30a3c url("../images/playbtn.png") no-repeat scroll 6px 4px / 57% auto;
    border-radius: 30px;
    display: block;
    height: 20px;
    left: 34%;
    padding: 5px;
    position: absolute;
    top: 32%;
    transform: rotate(90deg);
    width: 20px;
}
#playlist #nextbtn{
	float:right;
	margin-right:3px;
}
#videodiv{
	z-index:10;
}
.plitems{
	  float: left;
    height: 63px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 93%;
}
#prevbtn span{
	transform:rotate(-90deg);
	display:block;
	background:url('../images/prev_next.png')no-repeat scroll 0 2px transparent;
	    text-indent: -999px;
}
#nextbtn span{
	display:block;
	transform:rotate(90deg);
	background:url('../images/prev_next.png')no-repeat scroll 5px 2px transparent;
	    text-indent: -999px;
}
#fullscreen a{
	color: #fff;
    position: absolute;
    right: 14%;
    top: 3%;
    z-index: 1;
    padding:10px;
    display:block;
    text-indent:-999px;
    width:22px;
    height:20px;
     border-right: 1px solid rgba(255, 255, 255, 0.1);
     background:url('../images/expand.png')no-repeat scroll 9px 12px transparent;
}
#fullscreen a:hover,#fullscreen a.active{
	color:#339aff;
	 background-position:9px -28px;
}
.fullScreen{
	width:100% !important;
}

/* mobile */
@media only screen and (min-width:320px) and (max-width:480px) {
	#videodiv {
		position: absolute;
		top: 85%;
		width: 100%;
	}
	#videoViewport {
		overflow: hidden;
		width: 270px;
		height: 203px; /* ch */
		box-shadow: 0 0 5px #777777;
		margin-left: auto;
		margin-right: auto;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+51,b7b7b7+100 */
		background: rgb(255, 255, 255);
		/* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1)
			0%, rgba(246, 246, 246, 1) 51%, rgba(183, 183, 183, 1) 100%);
		/* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1)
			0%, rgba(246, 246, 246, 1) 51%, rgba(183, 183, 183, 1) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%,
			rgba(246, 246, 246, 1) 51%, rgba(183, 183, 183, 1) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
			endColorstr='#b7b7b7', GradientType=1);
		/* IE6-9 fallback on horizontal gradient */
		display: none;
		position: relative;
	}
	#videodiv .audioplayer-bar {
		width: 30%;
	}
	#videodiv .audioplayer-time-duration {
		right: 40%;
	}
	#closedCaptionBtn a {
		color: #fff;
		padding: 10px;
		position: absolute;
		right: 13%;
		top: 3%;
		z-index: 1;
	}
	.frame82 img {
		width: 50%;
	}
}



/* mobile */
@media only screen and (min-width:481px) and (max-width:767px) {
	#videodiv {
		position: absolute;
		top: 85%;
		width: 100%;
	}
	#videoViewport {
		overflow: hidden;
		width: 330px;
		height: 248px; /* ch */
		box-shadow: 0 0 5px #777777;
		margin-left: auto;
		margin-right: auto;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+51,b7b7b7+100 */
		background: rgb(255, 255, 255);
		/* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1)
			0%, rgba(246, 246, 246, 1) 51%, rgba(183, 183, 183, 1) 100%);
		/* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1)
			0%, rgba(246, 246, 246, 1) 51%, rgba(183, 183, 183, 1) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%,
			rgba(246, 246, 246, 1) 51%, rgba(183, 183, 183, 1) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
			endColorstr='#b7b7b7', GradientType=1);
		/* IE6-9 fallback on horizontal gradient */
		display: none;
		position: relative;
	}
	#videodiv .audioplayer-bar {
		width: 30%;
	}
	#videodiv .audioplayer-time-duration {
		right: 40%;
	}
	#closedCaptionBtn a {
		color: #fff;
		padding: 10px;
		position: absolute;
		right: 13%;
		top: 3%;
		z-index: 1;
	}
	.frame82 img {
		width: 50%;
	}
	.un1 {
		font-size: 35pt;
		position: absolute;
		top: 198px;
		left: 41%;
	}
	.un2 {
		font-size: 35pt;
		position: absolute;
		top: 198px;
		left: 41%;
	}
}

/* Tablet */
@media only screen and (min-width : 768px) and (max-width:991px) {
	
	#videodiv{
	 position: absolute;
    top: 90%;
    width: 450px;
	}
	#videoViewport{
		overflow:hidden;
	width: 450px;
	height: 338px;
	box-shadow:0 0 5px #777777;
	margin-left:auto;
	margin-right:auto;
	
	display:none;
	position:relative;
	}
	.frame82 img {
		width: 70%;
	}
	
	#videodiv.fullScreen {
	 position: absolute;
    top: 97%;
    width: 100%;
	}
	.fullScreen .frame82 img {
		width: 160%;
	}
	
	.fullScreen .un1 {font-size: 42pt;
    position: absolute;
    top: 42%;
    left: 45%;
	}
	.fullScreen .un2 {font-size: 42pt;
    position: absolute;
    top: 40%;
    left: 35%;
	}
	#videoViewport {
		overflow: hidden;
		width: 450px;
		height: 338px; /* ch */
		box-shadow: 0 0 5px #777777;
		margin-left: auto;
		margin-right: auto;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+51,b7b7b7+100 */
		background: rgb(255, 255, 255);
		/* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1)
			0%, rgba(246, 246, 246, 1) 51%, rgba(183, 183, 183, 1) 100%);
		/* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1)
			0%, rgba(246, 246, 246, 1) 51%, rgba(183, 183, 183, 1) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%,
			rgba(246, 246, 246, 1) 51%, rgba(183, 183, 183, 1) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
			endColorstr='#b7b7b7', GradientType=1);
		/* IE6-9 fallback on horizontal gradient */
		display: none;
		position: relative;
	}
	.un1 {
		font-size: 35pt;
		position: absolute;
		top: 198px;
		left: 41%;
	}
	.un2 {
		font-size: 35pt;
		position: absolute;
		top: 198px;
		left: 41%;
	}
	
}

@media screen and (min-width:1200px){
	#videodiv.fullScreen{
	bottom:0% !important;
	top:auto;
	}
#videodiv.fullScreen .audioplayer-bar{
	width:73% !important;
	}
	
#videodiv.fullScreen #closedCaptionBtn a{
	right: 3% !important;
}
#videodiv.fullScreen #fullscreen a{
	right: 6% !important;
}
#videodiv.fullScreen #showPlBtn a{
	right: 9.5%;
}
#videodiv.fullScreen .audioplayer-time-duration{
	right: 10.5em !important;
}
.fullScreen .webpagedivseg{
	background:#dedede !important;
}
.fullScreen .webpagedivseg .frame82 img{
	width:150%;
}
.fullScreen .attlogo img{
	width:150%;
}
.fullScreen .un1 {
    font-size: 60pt;
    position: absolute;
    top: 47%;
    left: 45%;
    z-index: 10;
}

.fullScreen .un2{
	    font-size: 38pt;
    position: absolute;
    top: 40%;
    left: 42%;
    z-index: 10;
}
}

