body {
	/* background:url(../images/bg.jpg) repeat scroll 0 0 transparent; */
	color: #666666;
	font-family: OmnesATT, Verdana, Helvetica, sans-serif;
	background-size: cover;
	padding: 10px;
}

a {
	text-decoration: none;
}


#container {
	width: 1200px;
	margin: 0 auto;
}
#canvasAudio{
	width:100%;
	height:100%;
}
#videoViewport {
	overflow: hidden;
	width: 856px;
	height: 482px;
	box-shadow: 0 0 5px #777777;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	box-shadow: 0 0 5px #777777
}

#canvasvideo {
	position: static;
	width: 100%;
}


@media only screen and (min-width:320px) and (max-width:480px) {
	#container {
		width: 320px;
		margin: 0 auto;
	}
	#videoViewport {
		overflow: hidden;
		width: 230px;
		height: 129px;
		box-shadow: 0 0 5px #777777;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

}

@media only screen and (min-width:481px) and (max-width:767px) {
	#container {
		width: 480px;
		margin: 0 auto;
	}
	#videoViewport {
		overflow: hidden;
		width: 399px;
		height: 224px;
		box-shadow: 0 0 5px #777777;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

}

@media only screen and (min-width : 768px) and (max-width:989px) {
	#container {
		width: 768px;
		margin: 0 auto;
	}
	#videoViewport {
		overflow: hidden;
		width: 657px;
		height: 370px;
		box-shadow: 0 0 5px #777777;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

}
@media only screen and (min-width : 990px) and (max-width:1199px) {
	#container {
		width: 990px;
		margin: 0 auto;
	}
	#videoViewport {
		overflow: hidden;
		width: 856px;
		height: 482px;
		box-shadow: 0 0 5px #777777;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

}

.canvasvideo-dimensions {
    width: 90%;
    height: auto;
}
#imgHeader,#imgFooter {
	width: 100%;
	height: auto;
}
#canvas{
	width: 100%;
	height: 100%;
}
.videoHolder {
    background-color: #333;
    height: 100%;
    position: relative;
}

.video-js .vjs-control-bar{
	background-color:#0574ac !important;
}
.video-js .vjs-slider{
	background-color:#44c8f5 !important;
}
